[Unit]
Description=DevOps Fetch Service
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/Devopsfetch/devopsfetch.sh -t now now
WorkingDirectory=/home/ubuntu/Devopsfetch
StandardOutput=append:/var/log/devopsfetch.log
StandardError=append:/var/log/devopsfetch.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

