[Unit]
Description=DevOps Fetch Service
After=network.target

[Service]
ExecStart=/usr/local/bin/devopsfetch_time "now" "now"
Restart=always

[Install]
WantedBy=multi-user.target
